version: "3.9"

services:
  app:
    image: clinica-api-image
    container_name: java_backend
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - spring-network
    env_file:
      - .env
    depends_on:
      - hospital_db

  hospital_db:
    image: postgres:16
    container_name: hospital_db
    ports:
      - "5432:5432"
    networks:
      - spring-network
    env_file:
      - .env
    volumes:
      - hospital_db-data:/var/lib/postgresql/data

networks:
  spring-network:
volumes:
  hospital_db-data:
